html { font-size: 62.5%; } 
body { font-size: 1.4rem; } /* =14px */
h1   { font-size: 2.4rem; } /* =24px */

table {
  border-collapse: collapse;
}

th {
  background: lightblue;
  border-color: white;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
