html,
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #ffffff;
}
.loader,
.loader:before,
.loader:after {
  background: #292c2f;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #292c2f;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
.admin-racelist-filter {
  text-align: right;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.table a:link {
  color: #666;
  text-decoration: none;
}
.table a:visited {
  color: #666;
  text-decoration: none;
}
.table a:active,
.table a:hover {
  color: #bd5a35;
  text-decoration: underline;
}
.table {
  width: 100%;
  color: #666;
  background: #eaebec;
  border-collapse: collapse;
  font-size: 14px;
  font-family: monospace;
}
.table__header {
  padding: 21px 25px 22px 25px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
  background-color: #ededed;
  background: -webkit-linear-gradient(#ededed, #ebebeb);
  background: -o-linear-gradient(#ededed, #ebebeb);
  background: -moz-linear-gradient(#ededed, #ebebeb);
  background: linear-gradient(#ededed, #ebebeb);
}
.table__row {
  text-align: center;
  padding-left: 20px;
  border-bottom: 1px solid #e0e0e0;
  border-collapse: collapse;
}
.table__row:hover {
  background-color: #f7f7f7;
  background: -webkit-linear-gradient(#f7f7f7, #fbfbfb);
  background: -o-linear-gradient(#f7f7f7, #fbfbfb);
  background: -moz-linear-gradient(#f7f7f7, #fbfbfb);
  background: linear-gradient(#f7f7f7, #fbfbfb);
}
.table__cell {
  text-align: left;
  border-left: 0;
  padding: 12px;
  background: #ffffff;
}
.table__cell--even {
  background-color: #fbfbfb;
  background: -webkit-linear-gradient(#fbfbfb, #f8f8f8);
  background: -o-linear-gradient(#fbfbfb, #f8f8f8);
  background: -moz-linear-gradient(#fbfbfb, #f8f8f8);
  background: linear-gradient(#fbfbfb, #f8f8f8);
}
.table__cell--highlighted {
  background-color: #f8f8f8;
  background: -webkit-linear-gradient(#f8f8f8, #f6f6f6);
  background: -o-linear-gradient(#f8f8f8, #f6f6f6);
  background: -moz-linear-gradient(#f8f8f8, #f6f6f6);
  background: linear-gradient(#f8f8f8, #f6f6f6);
}
.table--fullresults {
  text-transform: uppercase;
}
.table--fullresults .table__cell--highlighted {
  background-color: #f9f2b2;
  background: -webkit-linear-gradient(#f9f2b2, #f5ea83);
  background: -o-linear-gradient(#f9f2b2, #f5ea83);
  background: -moz-linear-gradient(#f9f2b2, #f5ea83);
  background: linear-gradient(#f9f2b2, #f5ea83);
}
.table--racer-results .table__header {
  padding: 10px;
  text-align: left;
}
.table--racer-results .table__cell--race-group-name {
  font-size: 30px;
  font-family: sans-serif;
  padding: 30px 0px 12px 0px;
}
.tab__content {
  background-color: #f7f7f7;
  padding: 40px;
}
.tab__header {
  background-color: white;
  border: 0px;
  padding: 10px;
  margin: 0px;
  cursor: pointer;
}
.tab__header:focus {
  outline: 0;
}
.tab__header--selected {
  border-top: 1px solid red;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  background-color: #f7f7f7;
}
.round-button {
  width: 20px;
  height: 20px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #757575;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}
.round-button::after {
  content: none;
  position: absolute;
  display: block;
}
.round-button::before {
  content: none;
  position: absolute;
  display: block;
}
.round-button--collapsed::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #b0dcff;
  height: 12px;
  margin-top: -6px;
  top: 50%;
  left: 7px;
  right: 7px;
  z-index: 9;
}
.round-button--collapsed::before,
.round-button--expanded::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #b0dcff;
  width: 12px;
  margin-left: -6px;
  left: 50%;
  top: 7px;
  bottom: 7px;
  z-index: 9;
}
.round-button:focus {
  outline: 0;
}
.header--racer {
  font-size: 40px;
  margin-top: 20px;
}
