.gradient(@start-color:#eee,@end-color: #fff) {
    background-color:@start-color;
    background: -webkit-linear-gradient(@start-color, @end-color);
    background: -o-linear-gradient(@start-color, @end-color);
    background: -moz-linear-gradient(@start-color, @end-color);
    background: linear-gradient(@start-color, @end-color);
}
