.tabs {

  &__content{
    background-color: #f7f7f7;
    padding: 40px;
  }

  &__header {
    background-color: white;
    border: 0px;
    padding: 10px;
    margin: 0px;
  }

  &__header--selected {
    border-top: 1px solid red;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    background-color: #f7f7f7;
  }

}
